.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content-button {
  margin: 3px;
  padding: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border: 2px #555 solid;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cancel {
    color: white;
    background-color: red;
}

.save {
    color: white;
    background-color: green;
}

.modal-title {
  display: inline-block;
  width: 100%;
  font-family: cursive;
  font-size: 20px;
  margin: 5px;
}