.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-title-container {
  display: flex;
  background-color: aliceblue;
}

.h1-title {
  flex: 8;
  font-family: cursive;
  color: blueviolet;
  font-size: 30px;
}

.app-title-button-ctn {
  flex: 2;
  display: grid;
  place-items: center;
}

.app-title-button {
  font-size: large;
  color: white;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: blueviolet;
  transition: box-shadow 0.2s ease;
}

.app-title-button:hover {
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
}